## StringIndexer
- Técnica de Categorical Encoding: transforma categorias em números
- Itens mais frequentes recebem os números menores
- Você cria um modelo com um conjunto de dados e usa este modelo para tanformar outros conjuntos de dados
    - Rótulos não conhecidos encontrados são tradados pelo parâmetro haleInvalid, que pode ter os valores como:
        - Execção (default): 'error'
        - Omitir: 'skip'
        - Colocar 'desconhecidos' em uma categoria especial: 'keep'

In [2]:
from pyspark.sql import SparkSession

from pyspark.ml.feature import StringIndexer


spark = (
    SparkSession
    .builder
    .appName('StringIndexer')
    .getOrCreate()
)

spark

In [5]:
df_churn = (
    spark.read.format('csv')
    .option('inferSchema', True)
    .option('delimiter', ';')
    .option('header', True)
    .load('data/Churn.csv')
)

df_churn.show(5)

+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
|CreditScore|Geography|Gender|Age|Tenure| Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
|        619|   France|Female| 42|     2|       0|            1|        1|             1|       10134888|     1|
|        608|    Spain|Female| 41|     1| 8380786|            1|        0|             1|       11254258|     0|
|        502|   France|Female| 42|     8| 1596608|            3|        1|             0|       11393157|     1|
|        699|   France|Female| 39|     1|       0|            2|        0|             0|        9382663|     0|
|        850|    Spain|Female| 43|     2|12551082|            1|        1|             1|         790841|     0|
+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
only showing top 5 rows

In [11]:
indexer = StringIndexer(
    inputCol='Geography',
    outputCol='Geography_idx',
    handleInvalid='keep'
)

model = indexer.fit(df_churn)

df_churn_idx = model.transform(df_churn)
df_churn_idx.showb()

+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+-------------+
|CreditScore|Geography|Gender|Age|Tenure| Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|Geography_idx|
+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+-------------+
|        619|   France|Female| 42|     2|       0|            1|        1|             1|       10134888|     1|          0.0|
|        608|    Spain|Female| 41|     1| 8380786|            1|        0|             1|       11254258|     0|          2.0|
|        502|   France|Female| 42|     8| 1596608|            3|        1|             0|       11393157|     1|          0.0|
|        699|   France|Female| 39|     1|       0|            2|        0|             0|        9382663|     0|          0.0|
|        850|    Spain|Female| 43|     2|12551082|            1|        1|             1|         790841|     0|          2.0|
|        645|    Spain|  Male| 44|     8|11375578|            2|        1|             0|       14975671|     1|          2.0|
|        822|   France|  Male| 50|     7|       0|            2|        1|             1|         100628|     0|          0.0|
|        376|  Germany|Female| 29|     4|11504674|            4|        1|             0|       11934688|     1|          1.0|
|        501|   France|  Male| 44|     4|14205107|            2|        0|             1|         749405|     0|          0.0|
|        684|   France|  Male| 27|     2|13460388|            1|        1|             1|        7172573|     0|          0.0|
|        528|   France|  Male| 31|     6|10201672|            2|        0|             0|        8018112|     0|          0.0|
|        497|    Spain|  Male| 24|     3|       0|            2|        1|             0|        7639001|     0|          2.0|
|        476|   France|Female| 34|    10|       0|            2|        1|             0|        2626098|     0|          0.0|
|        549|   France|Female| 25|     5|       0|            2|        0|             0|       19085779|     0|          0.0|
|        635|    Spain|Female| 35|     7|       0|            2|        1|             1|        6595165|     0|          2.0|
|        616|  Germany|  Male| 45|     3|14312941|            2|        0|             1|        6432726|     0|          1.0|
|        653|  Germany|  Male| 58|     1|13260288|            1|        1|             0|         509767|     1|          1.0|
|        549|    Spain|Female| 24|     9|       0|            2|        1|             1|        1440641|     0|          2.0|
|        587|    Spain|  Male| 45|     6|       0|            1|        0|             0|       15868481|     0|          2.0|
|        726|   France|Female| 24|     6|       0|            2|        1|             1|        5472403|     0|          0.0|
+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+-------------+
only showing top 20 rows

In [26]:
df_churn_idx.select('Geography', 'Geography_idx').orderBy('Geography').show(50)

+---------+-------------+
|Geography|Geography_idx|
+---------+-------------+
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
|   France|          0.0|
+---------+-------------+
only showing top 50 rows